<header>
    <nav>
        <ul>
            <li>
                 <a href="/" class="<%= path==='/' ? 'active' : '' %> "> Shop </a> 
            </li>
            <li>
                <a href="/products" class="<%= path==='/products' ? 'active' : '' %> "> Products </a> 
            </li>
            <% if(isAuthenticated){%> 
            <li>
                <a href="/cart" class="<%= path==='/cart' ? 'active' : '' %> "> Cart </a> 
            </li>
            <li>
                <a href="/orders" class="<%= path==='/orders' ? 'active' : '' %> "> Orders </a> 
            </li>
            <li> 
                <a href="/admin/add-product" class="<%= path==='/admin/add-product' ? 'active' : '' %> "> add products </a> 
            </li>
            <li> 
                <a href="/admin/products" class="<%= path==='/admin/products' ? 'active' : '' %> "> Admin Products </a> 
            </li>
            <% } %> 
        </ul>
        <ul>
            <%  if(!isAuthenticated) { %>
                <li>
                    <a class="<%= path==='/loginPage' ? 'active' : '' %> " href="/loginPage">Login</a>
                </li>
                <li>
                    <a class="<%= path==='/signUpPage' ? 'active' : '' %> " href="/signUpPage">Sign Up</a>
                </li>
            <% }else{ %>
                <li>
                    <a class="<%= path==='/logout' ? 'active' : '' %> " href="/logout">Logout</a>
                </li>
            <% } %> 

        </ul>
    </nav>
</header>