<%- include('../includes/head.ejs') %> 
<body>
    <%- include('../includes/nav.ejs') %> 
    <main>
        <% if(orders.length != 0){ %>
            <% for(let i = 0 ; i < orders.length ; i++){ %>
                <p> order  <%= i+1 %>  </p>
                <div class="detiels">
                    <% orders[i].products.forEach((element) => { %> 
                        <p> ID <%= element.product.title%>  </p>
                        <p> Quantity <%= element.quantity%>  </p>
                    <%  }) %>
                </div>
                <%  } %>
        <% } else{ %> 
        <h1> No thing there </h1>
        <% } %> 
    </main>
</body>
</html>